BasedOnStyle: LLVM

ColumnLimit: 120
IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never

NamespaceIndentation: All
BreakBeforeBraces: Attach
AccessModifierOffset: -4

PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false

AllowShortBlocksOnASingleLine: Never
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Inline
AllowShortLoopsOnASingleLine: false

BinPackArguments: false
BinPackParameters: false
PackConstructorInitializers: Never
AlignAfterOpenBracket: Align
BreakBeforeBinaryOperators: None

FixNamespaceComments: true
ReflowComments: true

SortIncludes: CaseSensitive
IncludeBlocks: Preserve
