[submodule "termin-thirdparty/recastnavigation"]
	path = termin-thirdparty/recastnavigation
	url = git@github.com:mirmik/recastnavigation.git
[submodule "termin-thirdparty/manifold"]
	path = termin-thirdparty/manifold
	url = https://github.com/elalish/manifold.git
[submodule "termin-thirdparty/clipper2"]
	path = termin-thirdparty/clipper2
	url = https://github.com/AngusJohnson/Clipper2.git
[submodule "termin-thirdparty/guard"]
	path = termin-thirdparty/guard
	url = git@github.com:mirmik/guard.git
[submodule "termin-thirdparty/openxr-sdk"]
	path = termin-thirdparty/openxr-sdk
	url = https://github.com/KhronosGroup/OpenXR-SDK.git
[submodule "termin-thirdparty/vulkan-memory-allocator"]
	path = termin-thirdparty/vulkan-memory-allocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "termin-thirdparty/eigen"]
	path = termin-thirdparty/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "termin-thirdparty/sdl2"]
	path = termin-thirdparty/sdl2
	url = https://github.com/libsdl-org/SDL.git
	branch = SDL2
[submodule "termin-thirdparty/zlib"]
	path = termin-thirdparty/zlib
	url = https://github.com/madler/zlib.git
[submodule "termin-thirdparty/libpng"]
	path = termin-thirdparty/libpng
	url = https://github.com/pnggroup/libpng.git
[submodule "termin-thirdparty/libjpeg-turbo"]
	path = termin-thirdparty/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
[submodule "termin-thirdparty/libwebp"]
	path = termin-thirdparty/libwebp
	url = https://github.com/webmproject/libwebp.git
[submodule "termin-thirdparty/libogg"]
	path = termin-thirdparty/libogg
	url = https://github.com/xiph/ogg.git
[submodule "termin-thirdparty/libvorbis"]
	path = termin-thirdparty/libvorbis
	url = https://github.com/xiph/vorbis.git
