[submodule "termin/third/recastnavigation"]
	path = termin-app/third/recastnavigation
	url = git@github.com:mirmik/recastnavigation.git
[submodule "termin-thirdparty/manifold"]
	path = termin-thirdparty/manifold
	url = https://github.com/elalish/manifold.git
[submodule "termin-thirdparty/clipper2"]
	path = termin-thirdparty/clipper2
	url = https://github.com/AngusJohnson/Clipper2.git
[submodule "termin-thirdparty/guard"]
	path = termin-thirdparty/guard
	url = git@github.com:mirmik/guard.git
[submodule "termin-thirdparty/openxr-sdk"]
	path = termin-thirdparty/openxr-sdk
	url = https://github.com/KhronosGroup/OpenXR-SDK.git
[submodule "termin-thirdparty/vulkan-memory-allocator"]
	path = termin-thirdparty/vulkan-memory-allocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "termin-thirdparty/eigen"]
	path = termin-thirdparty/eigen
	url = https://gitlab.com/libeigen/eigen.git
